@import "custom-variables.scss";
@import "nova/colors.scss";
@import "sweetalert.scss";

@import "nova/buttons.scss";
@import "nova/inputs.scss";
@import "nova/icons.scss";
@import "nova/alerts.scss";
@import "nova/page-container.scss";
@import "nova/products.scss";
@import "nova/bills.scss";
@import "nova/support.scss";
@import "nova/credit-card.scss";
@import "nova/list-items.scss";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bootstrap-datepicker3.scss";
@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";

@import "auth/register.scss";
@import "custom-well.scss";
@import "custom-jumbotron.scss";
@import "custom-button.scss";
@import "fancy-divider.scss";
@import "helpers.scss";
@import "transitions.scss";
@import "divider.scss";
@import "animate.scss";
@import "announcements.scss";

@import "client-container.scss";

html, body {
  background-color: #EDF1F2;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', serif;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  /* Height of the footer element */
  padding-bottom: 70px;
}

// .container-margin-top {
//     margin-top: 70px;
// }

#footer {
  background: #F8F8F8;
  border-top: 1px solid darken(#f8f8f8, 10%);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-text {
  padding-top: 15px;
}

.table tbody>tr>td.vert-align{
  vertical-align: middle;
}

.search-result {
    padding-top: 8px;
}

.pointer:hover {
    cursor: pointer;
}

textarea {
    resize: none;
}

.center-image {
    margin: 0 auto;
}

.first-section {
  background-color: #ECECE6;
}

.welcome-text {
    font-weight: 200;
    font-size: 35px;
    // padding-top: 40px;
    padding-bottom: 20px;
    color: $brand-primary;
    font-family: 'Raleway', sans-serif;
    padding: 100px 0 70px 0;
}

.second-section {
  padding: 70px 0 70px 0;
}

.second-section .free-text {
  padding: 10px 0 10px 0;
}

.second-section .free-text-description {
    padding-bottom: 20px;
}

// .big-button {
//   padding: 20px;
//   font-size: 20px;
//   color: #ffffff;
// }

.no-underline-href:hover, .no-underline-href:active, .no-underline-href:focus {
    text-decoration: none;
}

/**
 * Third section (campaign statistics)
 */
.campaign-statistics {
  padding: 50px 0 50px 0;
  background-color: #ECECE6;
}

/**
 * Fourth section (fast access and client history)
 */
 .client-history-feature {
   background-color: #EDF1F2;
   padding: 70px 0 70px 0;
 }

/**
 * Fifth section (customized bills)
 */
 .customized-bills-feature {
   padding: 70px 0 70px 0;
   background-color: #ECECE6;

}

/**
 * Sixth section (create bills in seconds)
 */
 .create-bills-in-seconds-and-statistics-features {
     background-color: #fafafa;

   padding: 70px 0 70px 0;
}

 .footer {
   background-color: #2E3435;
   padding: 30px 0 30px 0;
   color: #ECECE6;
 }

.underline:hover {
    text-decoration: underline;
}

/**
 * Terms and privacy
 */
.first-part-of-text {
    padding-top: 15px;
}

.paragraph-title {
    padding-top: 10px;
}

.padding-input {
    padding: 15px;
}

.padding {
    padding: 15px 25px;
}

.padding-input {
    padding: 22px 15px;
}
