$border-and-text-color: #ffffff;

.custom-button {
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid $border-and-text-color;
  border-radius: 4px;
  color: $border-and-text-color;
  transition: 300ms;
}

.custom-button:hover, .custom-button:active, .custom-button:focus {
  background-color: $border-and-text-color;
  color: $brand-primary;
  border-color: $border-and-text-color;
  transition: background-color 300ms;
}

.custom-button a {
  color: #ffffff;
}