$state-danger-bg: $brand-primary;
$state-danger-text: #ffffff;
$state-danger-border: $brand-primary;

$alert-danger-bg: $brand-primary;
$alert-danger-text: #ffffff;
$alert-danger-border: $brand-primary;

$state-success-bg: $brand-success;
$state-success-text: #ffffff;
$state-success-border: $brand-success;

$state-info-bg: $brand-info;
$state-info-text: #ffffff;
$state-info-border: $brand-info;
