$btn-primary-bg: $brand-info;
$btn-primary-border: $brand-info;
$btn-primary-color: #ffffff;

$btn-danger-bg: $brand-primary;
$btn-danger-border: $brand-primary;
$btn-danger-color: #ffffff;

$btn-info-bg: $brand-info;
$btn-info-border: $brand-info;
$btn-color: #ffffff;
